:root {
    --background: #16161a;
    --text: #fffffe;
    --accent: #94a1b2;
    --effect: #7f5af0;
    --mainFont: 'poppins', sans-serif;
    --pFont: 'ubuntu', sans-serif;
    --titleFont: 'poppins', sans-serif;
    --buttonFont: 'poppins', sans-serif;
    --button: #fffffe;
    --buttonText: #7f5af0;
    --buttonHover: #72757e;
}

/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: var(--titleFont);
    color: var(--text);
}

p {
    font-family: var(--pFont);
}

body {
    color: var(--text);
}

.project_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    margin-top: 200px;
}

@media screen and (min-width: 400px) {
    #projects {
        margin-top: 350px;
    }
  
}

@media screen and (min-width: 540px) {
    #projects {
        margin-top: 300px;
    }
  
}

img {
    max-width: 375px;
    width: 80%;
    height: auto;
}

.project_container>h1 {
    font-family: var(--titleFont);
    color: var(--text);
}

#projects>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--effect);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 80%;
}

.cards {
    list-style: none;
    padding-left: 0;
    /* background-color: var(--secondary); */
}

h3.card_title {
    font-family: var(--titleFont);
    background-color: var(--effect);
    border: solid 1px var(--accent);
    border-radius: 1rem;
}



a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--accent);
}

button {
    background-color: var(--button);
    color: var(--buttonText);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--pFont);
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    font-family: var(--buttonFont);
    transition: all 0.4s ease-in-out;
}

button:hover {
    background-color: var(--);
    font-size: 1.25rem;
    transition: all 0.5s ease-in-out;
    /* hover effect */
}

#projects>h1 {
    font-weight: 900;
}

.project_container>p {
    font-family: var(--pFont);

}

@media screen and (min-width: 400px) {
  /* body{
    max-width: 375px;
    width: 80%;
  } */
}



@media only screen and (min-width: 700px) {
    #projects {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 2em;
        max-width: 1200px;
        margin: auto;
    }

    img {
        max-width: 1000px;
        width: 80%;
        height: auto;
        border-radius: 2rem;

    }
}

@media only screen and (min-width: 500px) {
    #projects {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.5em;
        max-width: 1200px;
        margin: auto;
        margin-top: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
h3.card_title{
padding: 10px;
    margin: 0 164px;
    margin: auto;
    font-size: 1rem;
    max-width: 600px;
    width: 80%;
}

p.card_title{
    font-size: 1.5rem;
}
}

