:root {
    --background: #0D1B1E;
    --text: #b6c2d9;
    --accent: #828489;
    --effect: #4d7ea8;
    --mainFont: poppins, sans-serif;
    --pFont: ubuntu, sans-serif;
    --titleFont: poppins, sans-serif;

}

/* CSS Reset */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100vh;
}

h1 h2 h3{
    font-family: var(--titleFont);
}

p{
    font-family: var(--pFont);
}

body{
    color: var(--text);
}

.project_container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

a{
    text-decoration: none;
    color: var(--text);
}

@media only screen and (min-width: 700px) {
    #projects{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

.project_container >p{
  font-family: var(--pFont);
 
}
}