:root {
    --background: #16161a;
    --text: #fffffe;
    --accent: #94a1b2;
    --effect: #7f5af0;
    --mainFont: 'poppins', sans-serif;
    --pFont: 'ubuntu', sans-serif;
    --titleFont: 'poppins', sans-serif;
    --buttonFont: 'poppins', sans-serif;
    --button: #fffffe;
    --buttonText: #7f5af0;
    --buttonHover: #72757e;
}

/* CSS Reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: var(--titleFont);
    color: var(--text);
}

p {
    font-family: var(--pFont);
    font-size: 1em;
}

body {
    color: var(--text);
}

.project_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    font-size: 1em;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 10px;
    /* margin: 10px; */
    border: 1px solid var(--accent);
    border-radius: 5px;
    width: 100%;
    /* max-width: 375px; */
    margin-top: 1em;
}

@media (max-width: 375px) {
    #projects {
        margin-top: 7em;
    }
}

/* @media screen and (min-width: 540px) {
    #projects {
        margin-top: 375px;
    }
  
} */

img {
    max-width: 375px;
    width: 80%;
    height: auto;
}

.project_container>h1 {
    font-family: var(--titleFont);
    color: var(--text);
}

#projects>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--effect);
    border-radius: 5px;
    /* margin: 10px; */
    padding: 10px;
    width: 80%;
}

.project_name{
    color: var(--headline);
    background-color: var(--effect);
    border: solid 1px var(--accent);
    border-radius: 0.25em;
    width: 26em;
    margin: auto;
    padding: 0.5em;
}

.cards {
    list-style: none;
    padding-left: 0;
    /* background-color: var(--secondary); */
}

h3.card_title {
    font-family: var(--titleFont);
    background-color: var(--effect);
    border: solid 1px var(--accent);
    border-radius: 0.25em;
    width: 23em;
    margin: auto;
    padding: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}



a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--accent);
}

button {
    background-color: var(--button);
    color: var(--buttonText);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--pFont);
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
    font-family: var(--buttonFont);
    transition: all 0.4s ease-in-out;
}

button:hover {
    background-color: var(--);
    font-size: 1.25em;
    transition: all 0.5s ease-in-out;
    /* hover effect */
}

#projects>h1 {
    font-weight: 900;
}

.project_container>p {
    font-family: var(--pFont);

}





@media only screen and (min-width: 768px) {
    #projects {
   
    }

    img {
        max-width: 100%;
        width: 50%;
        height: auto;
        border-radius: 2em;

    }

    button{
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    #projects {
        margin-top: 2em;
    }
button{
    font-size: 1.75em;
}

p{
    font-size: 1.25em;
}


}



