:root {
    --overlay: rgba(184, 193, 236, 0.5);
    --background: #16161a;
    --button: #7f5af0;
    --headline: #fffffe;
    --paragraph: #b8c1ec;
    --buttonText: #fffffe;
    --stroke: #010101;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}

body{
    background-color: var(--background);
    font-family: poppins, sans-serif;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--headline);
    padding: 20px;
    font-size: 1.5rem;
    max-width: 300px;
    width: 80%;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    color: var(--headline);
    text-decoration: none;
    padding: 5px;
    color: var(--background);
    font-size: 1rem;
}

.navbar a:hover {
    color: var(--tertiary);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 700px) {
    .navbar {
        max-width: 2000px;
        width: 100%;
        /* font-size: 2rem; */

    }

    .navbar a {
        font-size: 2rem;
    }
}