/* CSS Reset */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100vh;
}

/* End of CSS Reset */

:root {
    --overlay: rgba(184, 193, 236, 0.5);
    --background: #16161a;
    --button: #7f5af0;
    --headline: #fffffe;
    --paragraph: #b8c1ec;
    --buttonText: #fffffe;
    --stroke: #010101;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
    --mainFont: poppins, sans-serif;
    --pFont: ubuntu, sans-serif;
    --titleFont: poppins, sans-serif;
    --buttonFont: poppins, sans-serif;
}

body {
    background-color: var(--background);
    font-family: poppins, sans-serif;
}

#selfie{
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--tertiary);
    margin: 10px;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding: 20px;
    font-size: 1.5rem;
    max-width: 375px;
    width: 80%;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        /* Adjust the z-index value as needed */



}


.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    color: var(--headline);
    text-decoration: none;
    padding: 5px;
    color: var(--buttonText);
    font-size: 1rem;
    font-family: var(--titleFont);
    transition: all 0.3s ease-in-out;
}

.navbar a:hover {
    color: var(--tertiary);
    transition: all 0.5s ease-in-out;
}

navbar.img {
    width: 100%;
    max-width: 375px;
    border-radius: 1rem;
    border: 1px solid var(--tertiary);
    margin: 10px;
    display: flex;
    justify-content: center;
}

 .logo>img {
    border-radius: 50%;
    border: 1px solid var(--tertiary);
    box-shadow: var(--overlay) 0px 0px 0px 1px;
 }

 .about.fa-brands {
        color: var(--secondary);
        font-size: 13.5rem;
        transition: all 0.3s ease-in-out;
 }
/* Large devices (laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar {
        max-width: 2000px;
        width: 100%;
        font-size: 2rem;
        margin: auto;
        position: sticky;
max-width: 100%;
    font-size: 1.5rem;
    }

    .navbar a {
        font-size: 2rem;
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
 
  
    .navbar {
       
        width: 100%;
        font-size: 1rem;
        /* margin-bottom: 100px; */
    }
    .logo > img {
        max-width: 100px;
        width: 100%;
        font-size: 1rem;
        border-radius: 100%;
        /* margin-bottom: 100px; */
    }

    .navbar a {
        font-size: 1rem;
    }

    #projects {
        max-width: 375px;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 100px;
        margin-top: 321px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
    .navbar {
        margin: auto;
        max-width: 100%;
        max-width: 600px;
        justify-content: center;
        align-items: center;
        height: min-content;
    }

    .navbar img{
        max-width: 100px;
        width: 100%;
        margin-bottom: 1px;
        display: flex;
        justify-content: center;
    }

    .logo{
        margin-top: 2px;
    }
}